@import '../../styles/variables';

.chart {
  background-color: #fbfbfb;
  border-radius: 5px;
  position: relative;

  &__title {
    font-weight: $font-weight-medium;
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #20253a;
  }
}
