// Colors
$color-primary: #ff0101;

$background-color-navigation: #020203;
$color-black: #000000;
$color-white: #ffffff;

// Fonts
$font-family-primary: 'Roboto', sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
