@import '../../styles/variables';

.sidebar {
  position: fixed;
  z-index: 200;
  top: 0;
  width: $vertical-navbar-width;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(5rem, auto) 1fr auto;
  background-color: $background-color-navigation;
}

.navigation {
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  &__listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    img {
      height: 4rem;
    }
  }
}

.copyright {
  grid-row: 3;
  padding: 4rem 0;
  display: flex;
  justify-content: center;

  &__text {
    color: $color-white;
    font-weight: $font-weight-medium;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
