@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  background-color: $background-color-data-card;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;

  @include media-query-for-screen($xxl) {
    padding: 0.8rem;
    gap: 1rem;
  }

  .statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;

    &__value {
      font-size: 1.3rem;
      font-weight: $font-weight-bold;
    }

    &__name {
      color: #74798c;
      font-size: 0.9rem;
      font-weight: $font-weight-medium;
    }

    @include media-query-for-screen($xxl) {
      gap: 0.4rem;
    }
  }
}
